body {
	background-image: url("/pictures/background_image.jpg");
	background-size: 200px 200px;
	margin: 0;
}

#welcome-message {
	width:95%;
	padding:10px;
	border:5px solid blue;
	background-color:#ccffff;
}	
#logo {
	width:100%;
}

#appname{
	vertical-align:middle;
}
#appname a {
	color:red;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;}
#appname a:hover {
	color:red;
	text-decoration: underline;}
	
#schoollogo { 
	width: 70px;
	vertical-align:middle;
}

#userinfo {
	float: right;
	vertical-align: baseline;
	text-align: right;
	margin-top:50px;
}

.index-img{
	width: 25vw;
	height: 18vw;
	display:block;
	border: 0.5vw solid #999999;
	border-radius: 30px;
	margin-bottom: 1vw;
	margin-right: auto;
	margin-left: auto;
}
.index-img:hover{
	box-shadow: 0 0 15px black;
}
	
#navigationbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: black;
	border-radius: 15px;}
	
.navigation a{
	float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1% 10%;
    text-decoration: none;
	font-family: Arial Black, Gadget, sans-serif;
}
.navigation a:hover {
    background-color: grey;
}
.navigation a:active {
	background-color: red;
	}
	
#login-button a{
	float: right;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1% 10%;
    text-decoration: none;
	font-family: "Arial Black", Gadget, sans-serif;
}
#login-button a:hover {
    background-color: grey;
}
#login-button a:active {
	background-color: red;
	}

.places-info{
	display: inline-block;
	width: 38vw;
	padding-left: 5vw;
	padding-top: 2vw;
	padding-right: 5vw;
	padding-bottom: 2vw;
	vertical-align: top;
}

.placelink{
	width: inherit;
	text-align: justify;
	font-weight: bold;
	margin: 0 0 0 0;
}
.place-summary{
	text-align: center;
}
@media screen and (max-width: 600px){
	.places-info{
		width: 90vw;
	}
	.index-img{
		width: 75%;
		height: 60%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 3vw;
		display:inline-block;
		border: 5px solid #999999;
		border-radius: 30px;
	}
}
	
.placelink a:visited{
	color:blue;
}
.placelink a:hover{
	color: black;
}
.placelink a:active {
	color: red;
}

.place-description{
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}
.place-description td{
	padding-left: 50px;
	padding-right: 50px;
	vertical-align: top;
}

#place-picture-description {
	text-align:center;
}

#response {
	margin-left:2%;
}
#response p{
	font-family: Times New Roman;
	color: black;
}

#content-submission {
	margin-left:2%;
}
#content-submission p{
	font-family: "Arial Black", Gadget, sans-serif;
	color: grey;
}
#content-submission option{
	background-color: #C3BEBE;
}

#comment-box {
	width:50%;
	height:150px;
}

#comment-title{
	text-decoration:underline;
	margin-left:2%;
}

.comment {
	margin-left:2%;
	width:95%;
	margin-bottom: 30px;
}

.help-image {
	height: 25vw;
	width: 50vw;
	border:1px solid black;
}

#help-text{
	float:right;
}

#place-pic {
	display: inline-block;
	margin-left: 10%;
	margin-top: 5%vw;
	width: 30%;
	height: 40%vw;
	margin-right: 10%;
}
#describe-place{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	padding-top: 5%vw;
}
@media screen and (max-width: 650px){
	#describe-place{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	vertical-align: top;
	padding-top: 5%vw;
	text-align: center;
	}
	#place-pic {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%vw;
	width: 80%;
	height: 90%vw;
	}
	#comment-box{
	width: 90vw;
	height: 50vw;
	}
}
@media screen and (max-width: 460px){
	.navigation a{
		width: 50%;
		padding: 1vw 0;
	}
	#login-button a{
		width: 50%;
		margin-right: 25%;
		margin-left: 25%;
		padding: 1%;
	}
	.help-image{
		width: 80vw;
		height: 40vw;
	}
}
#help-box{
	margin-left: 2vw;
}